<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{36} - %msg%n"/>
        </Console>

        <RollingFile
                name="Notification"
                fileName="./logs/notification.log"
                filePattern="./logs/notification-%d{yyyy-MM-dd}-%i.log"
                append="true"
                immediateFlush="true">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %c{36} %l: %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="root" level="debug" additivity="false">
            <AppenderRef ref="Notification"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Notification"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>